<div class="wrapper wrapper_padding clearfix row">
  <div class="col-1 col-md-6 col-md-offset-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a developer living in Los Angeles, CA.</p>
    <p>By day I work as a full-stack developer at <%= link_to "InEpt Software", '#' %>, by night I'm a father/coach to 4 kids, a baseball junkie (Go Angels!), a late night coding fool &amp; peruser of Rails questions on <%= link_to "StackOverflow", 'http://stackoverflow.com/search?tab=newest&q=rails%204', target: '_blank' %>.</p>
    <p>You can find me sharing code on <%= link_to "GitHub", 'http://github.com/shawnpk', target: '_blank' %>.
  </div>

  <!-- <div class="col-2 col-md-4 col-md-offset-1 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <%# @posts.each do |post| %>
    <h3><%#= link_to post.title, post %></h3>
    <p class="date">
      <%#= post.created_at.strftime('%A, %b %d') %>
    </p>
    <%# end %>
  </div> -->

  <div class="col-2 col-md-4 col-md-offset-1 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
    <h3><%= link_to project.title, project %></h3>
    <p class="date">
      <%= project.created_at.strftime('%A, %b %d') %>
    </p>
    <% end %>
  </div>
</div>
