<!DOCTYPE html>
<html>
  <head>
    <title>Shawn Kearney - Full Stack Developer</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>

  <header>
  <nav class="navbar navbar-default navbar-static-top clearfix" id='main_navigation'>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "shawn kearney", root_path, class: 'navbar-brand name' %>
      </div><!-- end .navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Articles", posts_path %></li>
          <li><%= link_to "Projects" %></li>
          <li><%= link_to "Contact" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </header>

  <%= yield %>

  <footer id='main_footer'>
    <p class="copyright">&copy; 2016 Shawn Kearney</p>
    <nav>
      <%= link_to '<i class="fa fa-github"></i>'.html_safe, 'http://github.com/shawnpk', target: '_blank' %>
      <%= link_to '<i class="fa fa-stack-overflow"></i>'.html_safe, 'http://stackoverflow.com/users/3944700/ineptsoftware?tab=profile', target: '_blank' %>
    </nav>
  </footer>

  </body>

</html>
